@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.google_opinions {
  position: absolute;
  z-index: 101;
  background-color: #ff0000;
  color: white;
  padding: 20px 0;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
  font-family: $secondary-font;
  span {
    grid-column: 2;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  button {
    all: unset;
    grid-column: 4;
    margin-right: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
  padding: 0;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 30px;
  gap: 50px;
  font-family: $secondary-font;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  .navbar__logo {
    width: 100px;
  }
  .navbar__link_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    .navbar__link_item {
      a {
        color: white;
        font-size: 1.25rem;
      }
    }
  }
}

.hero {
  width: 100%;
  position: relative;
  .hero__banner {
    width: 100%;
    filter: brightness(60%);
  }
  .hero__center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .hero__center_title {
      color: white;
      font-family: $primary-font;
      font-weight: bold;
      font-size: 6.5rem;
    }
    .hero__center_btn {
      background-color: #13ac8e;
      width: fit-content;
      padding: 15px 20px;
      border-radius: 50px;
      font-size: 1.5rem;
      color: white;
      font-family: $primary-font;
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  gap: 50px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  .presentation__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .presentation__subcontainer {
    display: flex;
    gap: 50px;
    align-items: center;
    .presentation__subcontainer_paragraph {
      font-family: $secondary-font;
      color: #616161;
      font-size: 1.7rem;
    }
    .presentation__subcontainer_left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .presentation__subcontainer_left_logo {
        min-width: 300px;
        width: 15vw;
      }
      .presentation__subcontainer_left_link {
        text-align: center;
        font-family: $secondary-font;
      }
    }
  }
}

.projects {
  background-color: #f9f8f6;
  padding: 50px 0 50px 0;
  .projects_container {
    flex-direction: column;
    display: flex;
    gap: 50px;
    width: 95%;
    margin: 0 auto;
    .projects__title {
      font-size: $title-size;
      font-family: $primary-font;
    }
    .carousel__container .swiper {
      position: relative;
      width: 100%;
      height: 50vh;
    }
    .carousel__container {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .projects__list_card {
        margin: 10px 0 0 10px;
        transition: all 0.25s ease-in-out;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        &:hover {
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        }
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 350px;
        width: fit-content;
        background-color: white;
        .projects__list_card_img {
          border-radius: 25px 25px 0 0;
          width: 350px;
        }
        .projects__list_card_subcontainer {
          padding: 20px 0 20px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 90%;
          margin: 0 auto;
          position: relative;
          .projects__list_card_subcontainer_header {
            .projects__list_card_subcontainer_name {
              font-family: $primary-font;
            }
          }
          .projects__list_card_subcontainer_tag {
            position: absolute;
            top: -40px;
            left: 0px;
            background-color: #f46c66;
            width: fit-content;
            padding: 10px;
            border-radius: 20px;
            color: white;
            font-family: $secondary-font;
            font-weight: bold;
          }
          .projects__list_card_subcontainer_header {
            display: flex;
            justify-content: space-between;
          }
          .projects__list_card_subcontainer_description {
            font-family: $secondary-font;
          }
          .projects__list_card_subcontainer_link {
            text-align: center;
            color: #f46c66;
            font-size: 1.5rem;
            font-family: $primary-font;
          }
          .projects__list_card_subcontainer_hr {
            color: #e6e7eb;
          }
        }
      }
    }
  }
}

.map {
  background-color: #f9f8f6;
  padding: 50px 0 50px 0;
  .map_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 95%;
    margin: 0 auto;
    .map__title {
      font-size: $title-size;
      font-family: $primary-font;
      .map__title_first {
        font-weight: 400;
      }
      .map__title_second {
        font-weight: bold;
      }
    }
    .map__subsection {
      width: 100%;
      display: flex;
      gap: 150px;
      justify-content: space-around;
      .map__left {
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: space-around;
        .map__left_city_tag_container {
          font-family: $secondary-font;
          display: flex;
          flex-direction: column;
          gap: 20px;
          > * {
            display: flex;
            gap: 10px;
          }
          .map__left_city_tag {
            width: fit-content;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 10px 20px;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            transition: all 0.25s ease-in-out;
          }
        }
        .map__left_remote {
          position: relative;
          background: #ffffff;
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          display: flex;
          justify-content: flex-start;
          width: fit-content;
          gap: 20px;
          padding: 20px;
          & > *:not(.map__left_remote_bg) {
            z-index: 1;
          }
          .map__left_remote_bg {
            z-index: 0;
            width: 40%;
            height: 220px;
            order: 1;
          }
          .map__left_remote_subcontainer {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            .map__left_remote_title {
              font-size: 1.75rem;
              font-family: $primary-font;
              .map__left_remote_title_first {
                font-weight: 400;
              }
              .map__left_remote_title_second {
                font-weight: 800;
              }
            }
          }
          .map__left_remote_description {
            font-family: $secondary-font;
            font-size: 1.7rem;
          }
          .map__left_remote_link {
            background-color: #df5f54;
            color: white;
            padding: 5px 15px;
            font-size: 1.25rem;
            border-radius: 20px;
            width: fit-content;
            font-family: $secondary-font;
            transition: all 0.2s ease-in-out;
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25) !important;
            &:hover {
              box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) !important;
            }
          }
        }
      }
    }
  }
}

.media {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  .media__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .media__logo_container {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
    gap: 50px;
    .media__logo_subcontainer {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    .media__logo_item_size {
      width: 125px;
    }
    .media__logo_item {
      transition: all 0.15s ease-in-out;
      &:hover {
        filter: grayscale(1);
      }
    }
  }
}

.opinion {
  background-color: #f9f8f6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0 100px 0;
  background-image: url("../images/bg_opinion.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  .opinion-container {
    width: 95%;
    margin: 0 auto;
  }
  .opinion__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .opinion__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: $secondary-font;
    .opinion__header_title {
      font-size: 1.5rem;
      color: #616161;
    }
    .opinion__header_img {
      width: 150px;
    }
  }
  .carousel__container {
    position: relative;
  }
  .carousel__container .swiper {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        .opinion__container {
          font-family: $secondary-font;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          gap: 20px;
          .opnion__paragraph {
            font-size: 1.5rem;
            width: 80%;
          }
          .opinion__signature {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-family: $secondary-font;
            font-size: 1.2rem;
            color: #606060;
            .name,
            .delivraide {
              font-weight: bold;
            }
            img {
              width: 75px;
              height: 75px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.help {
  display: flex;
  background-color: #f9f8f6;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  .help-container {
    width: 95%;
    margin: 0 auto;
    .help__title {
      font-size: $title-size;
      font-family: $primary-font;
    }
    .help__subcontainer {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      .help__subcontainer_paragraph {
        font-family: $secondary-font;
        color: #616161;
        font-size: 1.7rem;
      }
      .help__subcontainer_left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .help__subcontainer_left_logo {
          min-width: 300px;
          width: 15vw;
        }
        .help__subcontainer_left_link {
          text-align: center;
          font-family: $secondary-font;
        }
      }
      .help__btn_container {
        display: flex;
        justify-content: space-around;
        width: 90%;
      }
    }
  }
}

.images {
  display: flex;
  background-color: #f9f8f6;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  .images-container {
    width: 95%;
    margin: 0 auto;
    .images__title {
      font-size: $title-size;
      font-family: $primary-font;
      margin-bottom: 50px;
    }
    .images__subcontainer {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
  }
}

.btn-primary {
  color: white;
  background-color: #00a6ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: $primary-font;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
}

footer {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f9f8f6;
  padding-top: 100px;
  gap: 300px;
  .footer-content {
    z-index: 5;
    .subcontainer {
      display: flex;
      justify-content: space-evenly;
      .right {
        .logo {
          width: 200px;
        }
      }
      .left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        .left-link-list {
          display: flex;
          gap: 20px;
          a {
            font-size: 3.5rem;
            transition: all 0.2s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .copyright {
    font-family: $primary-font;
    color: white;
    margin: 20px;
  }
  .ocean {
    z-index: 0;
    height: 5%;
    width: 100%;
    position: relative;
    bottom: 1;
    left: 0;
    background: #015871;
    .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
        repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
    }
  }
}

.contact_header__container {
  margin-bottom: 20px;
  .contact_header__subcontainer {
    .contact_header__subcontainer_left {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    img {
      width: 100px;
    }
    h1 {
      font-size: 24px;
    }
  }
  hr {
    width: 100%;
    background-color: #e6e7eb;
  }
}

.contact__input {
  margin: 0px 2px;
  width: 90%;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px;
  margin: 10px;
  outline: none;
  background-color: white;
  font-family: $secondary-font;
  color: black;
  border: none;
}

.contact-main {
  background-color: #f9f8f6;
  font-family: $primary-font;
  min-height: 100vh;
  .contact-title {
    text-align: center;
    font-family: $secondary-font;
    margin-bottom: 40px;
  }
  .form-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      font-weight: bold;
      font-size: 18px;
    }
    .contact-btn {
      all: unset;
      border-radius: 10px;
      font-size: 24px;
      width: fit-content;
      padding: 5px 10px;
      background-color: $secondary-color;
      color: white;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      transition: all 0.25s ease-in-out;
      margin: auto;
      &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@media screen and (max-width: 1250px) {
  .map__subsection {
    flex-direction: column;
  }
  .map__left_city_tag_container {
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .navbar__link_container {
    visibility: hidden;
  }
  .presentation__subcontainer {
    flex-direction: column;
  }
}
