$primary-color: #ff0000;
$secondary-color: #00a6ff;
$text-color: #616161;

$title-size: 3rem;

@font-face {
  font-family: "Basic Commercial";
  src: url(../fonts/BasicCommercialLT-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Basic Commercial";
  src: url(../fonts/BasicCommercialLT-Light.ttf) format("ttf");
}
