$primary-color: black;
$secondary-color: white;

$main-font: "Poppins", sans-serif, 400;
$bold-font: "Poppins", sans-serif, 700;
$italic-thin-font: "Poppins", sans-serif, 200;
$italic-font: "Poppins", sans-serif;
