@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.google_opinions {
  background-color: #ff0000;
  color: white;
  padding: 20px 0;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
  font-family: $secondary-font;
  span {
    grid-column: 2;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  button {
    all: unset;
    grid-column: 4;
    padding &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0px;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px 30px;
  gap: 50px;
  font-family: $secondary-font;
  .navbar__logo {
    width: 100px;
  }
  .navbar__link_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    .navbar__link_item {
      a {
        color: black;
        font-size: 1.25rem;
      }
    }
  }
}

.hero {
  width: 100%;
  position: relative;
  .hero__banner {
    width: 100%;
    filter: brightness(60%);
  }
  .hero__center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .hero__center_title {
      color: white;
      font-family: $primary-font;
      font-weight: bold;
      font-size: 6.5rem;
    }
    .hero__center_btn {
      background-color: #13ac8e;
      width: fit-content;
      padding: 15px 20px;
      border-radius: 50px;
      font-size: 1.5rem;
      color: white;
      font-family: $primary-font;
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  gap: 50px;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  .presentation__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .presentation__subcontainer {
    display: flex;
    gap: 50px;
    align-items: center;
    .presentation__subcontainer_paragraph {
      font-family: $secondary-font;
      color: #616161;
      font-size: 1.7rem;
    }
    .presentation__subcontainer_left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .presentation__subcontainer_left_logo {
        min-width: 300px;
        width: 15vw;
      }
      .presentation__subcontainer_left_link {
        text-align: center;
        font-family: $secondary-font;
      }
    }
  }
}

.projects {
  background-color: #f9f8f6;
  padding: 50px 0 50px 0;
  .projects_container {
    flex-direction: column;
    display: flex;
    gap: 50px;
    width: 95%;
    margin: 0 auto;
    .projects__title {
      font-size: $title-size;
      font-family: $primary-font;
    }
    .projects__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .projects__list_card {
        transition: all 0.25s ease-in-out;
        &:hover {
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        }
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 350px;
        width: fit-content;
        background-color: white;
        .projects__list_card_img {
          border-radius: 25px 25px 0 0;
          width: 350px;
        }
        .projects__list_card_subcontainer {
          padding: 20px 0 20px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 90%;
          margin: 0 auto;
          position: relative;
          .projects__list_card_subcontainer_header {
            .projects__list_card_subcontainer_name {
              font-family: $primary-font;
            }
          }
          .projects__list_card_subcontainer_tag {
            position: absolute;
            top: -40px;
            left: 0px;
            background-color: #f46c66;
            width: fit-content;
            padding: 10px;
            border-radius: 20px;
            color: white;
            font-family: $secondary-font;
            font-weight: bold;
          }
          .projects__list_card_subcontainer_header {
            display: flex;
            justify-content: space-between;
          }
          .projects__list_card_subcontainer_description {
            font-family: $secondary-font;
          }
          .projects__list_card_subcontainer_link {
            text-align: center;
            color: #f46c66;
            font-size: 1.5rem;
            font-family: $primary-font;
          }
          .projects__list_card_subcontainer_hr {
            color: #e6e7eb;
          }
        }
      }
    }
  }
}

.map {
  background-color: #f9f8f6;
  padding: 50px 0 50px 0;
  .map_container {
    flex-direction: column;
    display: flex;
    gap: 50px;
    width: 95%;
    margin: 0 auto;

    .map__title {
      font-size: $title-size;
      font-family: $primary-font;
      .map__title_first {
        font-weight: 400;
      }
      .map__title_second {
        font-weight: bold;
      }
    }
    .map__subsection {
      width: 100%;
      display: flex;
      gap: 150px;
      justify-content: space-around;
      .map__left {
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: space-around;
        .map__left_city_tag_container {
          font-family: $secondary-font;
          display: flex;
          flex-direction: column;
          gap: 20px;
          > * {
            display: flex;
            gap: 10px;
          }
          .map__left_city_tag {
            width: fit-content;
            font-size: 2rem;
            padding: 10px 20px;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            transition: all 0.25s ease-in-out;
            &:hover {
              box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25);
            }
          }
        }
        .map__left_remote {
          position: relative;
          background: #ffffff;
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          display: flex;
          justify-content: flex-start;
          width: fit-content;
          gap: 20px;
          padding: 20px;
          & > *:not(.map__left_remote_bg) {
            z-index: 1;
          }
          .map__left_remote_bg {
            z-index: 0;
            width: 40%;
            order: 1;
          }
          .map__left_remote_subcontainer {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            .map__left_remote_title {
              font-size: 1.75rem;
              font-family: $primary-font;
              .map__left_remote_title_first {
                font-weight: 400;
              }
              .map__left_remote_title_second {
                font-weight: 800;
              }
            }
          }
          .map__left_remote_description {
            font-family: $secondary-font;
            font-size: 1.7rem;
          }
          .map__left_remote_link {
            background-color: #df5f54;
            color: white;
            padding: 5px 15px;
            font-size: 1.25rem;
            border-radius: 20px;
            width: fit-content;
            font-family: $secondary-font;
            transition: all 0.2s ease-in-out;
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25) !important;
            &:hover {
              box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25) !important;
            }
          }
        }
      }
    }
  }
}

.media {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  .media__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .media__logo_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    transition: all 0.2s ease-in-out;
    gap: 20px;
    .media__logo_item {
      width: 125px;
      &:hover {
        filter: grayscale(1);
      }
    }
  }
}

.opinion {
  background-color: #f9f8f6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .opinion-container {
    width: 95%;
    margin: 0 auto;
  }
  .opinion__title {
    font-size: $title-size;
    font-family: $primary-font;
  }
  .opinion__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: $secondary-font;
    .opinion__header_title {
      font-size: 1.5rem;
      color: #616161;
    }
    .opinion__header_img {
      width: 150px;
    }
  }
  .carousel__container {
    position: relative;
  }
  .carousel__container .swiper {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        .opinion__container {
          font-family: $secondary-font;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          gap: 20px;
          .opnion__paragraph {
            font-size: 1.5rem;
            width: 80%;
          }
          .opinion__signature {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-family: $secondary-font;
            font-size: 1.2rem;
            color: #606060;
            .name,
            .delivraide {
              font-weight: bold;
            }
            img {
              width: 75px;
              height: 75px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.swiper-button-prev {
  all: unset !important;
  position: absolute !important;
  top: 50% !important;
  left: 10px !important;
  right: auto !important;
  background-color: white !important;
  border-radius: 100% !important;
  z-index: 10 !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25) !important;
  &::after {
    all: unset !important;
  }
  &:hover {
    cursor: pointer !important;
  }
  & > * {
    font-size: 1.5rem !important;
  }
}

.swiper-button-next {
  all: unset !important;
  position: absolute !important;
  top: 50% !important;
  right: 10px !important;
  left: auto !important;
  background-color: white !important;
  border-radius: 100% !important;
  z-index: 10 !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25) !important;
  &::after {
    all: unset !important;
  }
  &:hover {
    cursor: pointer !important;
  }
  & > * {
    font-size: 1.5rem !important;
  }
}

footer {
  width: 100%;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  background-color: #f9f8f6;
  gap: 300px;
  .footer-content {
    z-index: 5;
    .subcontainer {
      display: flex;
      justify-content: space-evenly;
      .right {
        .logo {
          width: 200px;
        }
      }
      .left {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        .left-link-list {
          display: flex;
          gap: 20px;
          a {
            color: black;
            font-size: 3.5rem;
            transition: opacity 0.2s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .copyright {
    font-family: $primary-font;
    color: white;
    margin: 20px;
  }
  .ocean {
    z-index: 0;
    height: 5%;
    width: 100%;
    position: relative;
    bottom: 1;
    left: 0;
    background: #015871;
    .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
        repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
    }
  }
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
