* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.hero_container {
  background: -webkit-gradient(linear, left top, left bottom, from(#4bbdfc), to(#ff6767));
  background: linear-gradient(180deg, #4bbdfc 0%, #ff6767 100%);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_container #hero_img {
  position: absolute;
  right: 17vw;
  top: 0;
  z-index: 0;
  width: clamp(20vw, 400px, 50vw);
}

.header_container__container {
  position: absolute;
  top: 0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

.header_container__container .header_container__left {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.header_container__container .header_container__left img {
  width: 115px;
  height: 115px;
}

.header_container__container .header_container__title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: white;
  z-index: 5;
}

.header_container__container .header_container__catch {
  font-size: 1.25rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.header_container__container .header_container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header_container__container .header_container__link a {
  z-index: 5;
  color: white;
  font-size: 2.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header_container__container .header_container__link a:hover {
  opacity: 0.6;
}

.landing__hero_container {
  width: 100%;
  padding-left: 10vw;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__hero_container * {
  position: relative;
  z-index: 5;
}

.landing__hero_container .landing__hero_container_title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(5vw, 5rem, 10vw);
  color: white;
}

.landing__hero_container .landing__hero_container_catch {
  font-size: 1.75rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.landing__hero_container .landing__hero_container_cards_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.landing__hero_container .landing__hero_container_cards_container .landing__card_container_description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.landing__hero_container .landing__card_container {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  max-width: 275px;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

.landing__hero_container .landing__card_container:hover {
  -webkit-box-shadow: -3px 6px 37px -9px rgba(0, 0, 0, 0.75);
          box-shadow: -3px 6px 37px -9px rgba(0, 0, 0, 0.75);
}

.landing__hero_container .landing__card_container .landing__card_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing__hero_container .landing__card_container .landing__card_container_header .landing__card_container_title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}

.landing__hero_container .landing__card_container .landing__card_container_header i {
  font-size: 2.5rem;
  color: white;
}

.landing__hero_container .landing__card_container .landing__card_container_img {
  width: 100%;
}

.section__main {
  max-width: 95vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2vw 0vw;
  gap: 40px;
}

.section__main .section_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__main .section_article img {
  height: 50vh;
}

.section__main .section_article .section__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 40px;
}

.section__main .section__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.section__main .section__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.section__main .section__link_tree .section__link_tree_link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.section__main .section__link_tree .section__link_tree_link a {
  font-size: 1.75rem;
  color: black;
}

.section__main .section__link_tree .section__link_tree_link a .fa-external-link-alt {
  color: blue !important;
}

.section__main .section__video_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 25px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  width: 100%;
}

.section__main .section__video_container #first {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
}

.section__main .section__video_container #second {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  width: 100%;
}

.section__main .section__video_container #third {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 100%;
}

.section__main .section__video_container #fourth {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  width: 100%;
}

.section__main .section__video_container #fifth {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  width: 100%;
}

.our-actions__container {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.our-actions__container .our-actions__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.our-actions__container .our-actions__card-container img {
  width: 400px;
  z-index: -1;
}

.our-actions__container .our-actions__card-container .our-actions__card-title {
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.our-actions__container .our-actions__card-container .our-actions__card-title:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 30%;
  top: 80%;
  left: 0;
  background-color: red;
}

.our-actions__container .our-actions__card-container .our-actions__card-description {
  font-size: 1.5rem;
  color: black;
  padding: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.our-actions__container .our-actions__card-container .our-actions__card-description a {
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
}

.our-actions__container .our-actions__card-container .our-actions__card-description a .fa-external-link-alt {
  color: blue !important;
}

.carousel__container {
  position: relative;
}

.carousel__container .swiper {
  width: 100%;
  height: 50vh;
  position: relative;
}

.carousel__container .swiper .swiper-button-next,
.carousel__container .swiper .swiper-button-prev {
  visibility: hidden;
}

.carousel__container .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

footer {
  width: 100%;
  overflow-x: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 7000px;
  margin-top: 250px;
  background-color: #015871;
  padding-bottom: 50px;
}

footer .footer-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .break-line {
  width: 1px;
  height: 150px;
}

footer .footer-container .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .link-container .link-hover {
  display: inline-block;
  color: white;
}

footer .footer-container .link-container .link-hover::after {
  content: "";
  display: block;
  background-color: white;
  width: 0%;
  height: 2px;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

footer .footer-container .link-container .link-hover:hover::after {
  width: 60px;
}

footer .footer-container .link-container .link-footer {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4ch;
}

footer .footer-container .link-container .link-footer a {
  color: white;
}

footer .ocean {
  height: 5%;
  width: 100%;
  position: relative;
  bottom: 1;
  left: 0;
  background: #015871;
}

footer .ocean .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@media only screen and (max-device-width: 1450px) {
  .landing__hero_container_cards_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-device-width: 1150px) {
  .header_container__container {
    margin: 0 auto;
  }
  .section__main {
    margin: 0 auto;
  }
  .section__main .section_article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__main .section_article img {
    height: 100%;
    width: 95vw;
  }
  .our-actions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .our-actions__container .our-actions__card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  footer .footer-container .break-line {
    all: unset;
    background-color: white;
    width: 80%;
    height: 1px;
  }
  footer .footer-container .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 10px;
  }
}

@media only screen and (max-device-width: 800px) {
  .landing__hero_container {
    margin-top: 20vh;
  }
  .landing__hero_container_cards_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .hero_container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header_container__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header_container__container .header_container__left {
    justify-self: flex-end;
  }
}

@media only screen and (max-device-width: 650px) {
  .landing__hero_container {
    margin-top: 30vh;
  }
  .header_container__container {
    margin: 0 auto;
  }
  .section__main {
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 500px) {
  #hero_img {
    position: absolute;
    width: 100vw;
  }
}

@media only screen and (max-device-width: 350px) {
  .header_container__container {
    max-width: 250px;
    margin: 0 auto;
  }
  .section__main {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */