@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

// Header

.header_container__container {
  color: $primary-color;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  .header_container__title {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
  }
  .header_container__catch {
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  .header_container__link {
    display: flex;
    gap: 10px;
    a {
      color: black;
      font-size: 1.5rem;
      transition: all 0.25s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

// Sections

.section__main {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 0vw;
  .section__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .section__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
  }
  .section__link_tree {
    list-style-type: none;
    .section__link_tree_link {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      a {
        text-decoration: none;
        font-size: 1.75rem;
        color: black;
        .fa-external-link-alt {
          color: blue !important;
        }
      }
    }
  }
  .section__video_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 25px;
    column-gap: 25px;
    width: 100%;

    #first {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 100%;
    }
    #second {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 2;
      width: 100%;
    }
    #third {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2 / 3;
      width: 100%;
    }
    #fourth {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 3;
      width: 100%;
    }
    #fifth {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4;
      width: 100%;
    }
  }
}

// Actions presentation

.our-actions__container {
  display: grid;
  width: 100%;
  .our-actions__card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    img {
      width: 400px;
      z-index: -1;
    }
    .our-actions__card-title {
      font-size: 2.5rem;
      padding-bottom: 10px;
      color: black;
      padding: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      position: relative;
      width: fit-content;
      &:after {
        position: absolute;
        content: "";
        height: 4px;
        width: 30%;
        top: 80%;
        left: 0;
        background-color: red;
      }
    }
    .our-actions__card-description {
      font-size: 1.5rem;
      color: black;
      padding: 5px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      a {
        text-decoration: none;

        font-weight: 700;
        font-size: 2.5rem;
        color: black;
        .fa-external-link-alt {
          color: blue !important;
        }
      }
    }
  }
}

.carousel__container {
  position: relative;
  .swiper {
    width: 100%;
    height: 50vh;
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      visibility: hidden;
    }
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
        }
      }
    }
  }
}

footer {
  width: 100%;
  overflow-x: visible;
  height: fit-content;
  margin-top: 250px;
  background-color: rgb(80, 80, 80);
  padding-bottom: 50px;
  .footer-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .break-line {
      width: 1px;
      height: 150px;
    }
    .link-container {
      display: flex;
      flex-direction: column;
      .link-hover {
        display: inline-block;
        color: white;
        &::after {
          content: "";
          display: block;
          background-color: white;
          width: 0%;
          height: 2px;
          transition: 0.25s all ease-in-out;
        }
        &:hover::after {
          width: 60px;
        }
      }
      .link-footer {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 4ch;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 1150px) {
  .header_container__container {
    max-width: 600px;
    margin: 0 auto;
  }
  .section__main {
    max-width: 600px;
    margin: 0 auto;
  }
  .our-actions__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .our-actions__card-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  footer {
    .footer-container {
      flex-direction: column;
      gap: 30px;
      .break-line {
        all: unset;
        background-color: white;
        width: 80%;
        height: 1px;
      }
      .link-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
      }
    }
  }
}

@media only screen and (max-device-width: 650px) {
  .header_container__container {
    max-width: 300px;
    margin: 0 auto;
  }
  .section__main {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 350px) {
  .header_container__container {
    max-width: 250px;
    margin: 0 auto;
  }
  .section__main {
    max-width: 250px;
    margin: 0 auto;
  }
}
